@{
    ViewBag.Title = "display";
}
<img id="map" src="~/Image/export-map-share.png" style="height:100%;width:100%;border-width:0px;" />
<canvas id="myCanvas" width="900" height="900" />
<h2>my app</h2>
<p>lat =  @Session["lat"] , lon = @Session["lon"] thr = @Session["thr"]</p>
<script>
        var img = document.getElementById("map");
        var cnvs = document.getElementById("myCanvas");
        cnvs.style.position = "absolute";
        cnvs.style.left = img.offsetLeft + "px";
        cnvs.style.top = img.offsetTop + "px";
        var ctx = cnvs.getContext("2d");
        ctx.beginPath();
        ctx.arc( @Session["lat"],  @Session["lon"],4, 0, 2 * Math.PI);
        ctx.strokeStyle = "blue";
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.stroke();
        if(@Session["refresh"] == 1) {
            setTimeout(function () {
                window.location.reload(1);
            }, 1000/@Session["rate"]);
        }
</script>

