@{
    ViewBag.Title = "save";
}
<img id="map" src="~/Image/export-map-share.png" style="height:100%;width:100%;border-width:0px;" />
<canvas id="myCanvas" width="900" height="900" />
<h2>my app</h2>
<p>lat =  @Session["lat"] , lon = @Session["lon"] thr = @Session["thr"]</p>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var isStop = false;
    $.post("@Url.Action("OpenFile")");
    var IntervalTime = 1000 / @Session["refreshRate"]
    var IntervalTimeout = @Session["timeout"] * 1000
    function drawAndSavePlanePath() {
        var img = document.getElementById("map");
        var cnvs = document.getElementById("myCanvas");
        cnvs.style.position = "absolute";
        cnvs.style.left = img.offsetLeft + "px";
        cnvs.style.top = img.offsetTop + "px";
        var ctx = cnvs.getContext("2d");
        ctx.beginPath();
        if (IntervalTimeout <= 0) {
            clearInterval(functionIntervalId);
        }
        $.post("@Url.Action("getData")").done(function (xml) {
            var xmlDoc = $.parseXML(xml),
            $xml = $(xmlDoc),
            NetworkLat = $xml.find("Lat").text();
            NetworkLon = $xml.find("Lon").text();
            ctx.arc("800", "200", 4, 0, 4 * Math.PI);
            ctx.strokeStyle = "blue";
            ctx.fillStyle = 'red';
            ctx.fill();
            ctx.stroke();
            $.post("@Url.Action("WriteFile")");
        });
        IntervalTimeout -= IntervalTime;
    }
    var functionIntervalId = setInterval(drawAndSavePlanePath, IntervalTime);
    drawAndSavePlanePath();





</script>