@{
    ViewBag.Title = "save";
}
<img id="map" src="~/Image/export-map-share.png" style="height:100%;width:100%;border-width:0px;" />
<canvas id="myCanvas" width="900" height="900" />
<h2>my app</h2>
<p>lat =  @Session["lat"] , lon = @Session["lon"] thr = @Session["thr"]</p>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var IntervalTime = @Session["timeout"] * 1000
    $.post("@Url.Action("CreateFile")");
    




</script>